/* 전체 컨테이너 */
.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;  
  border-radius: 15px; 
  background: linear-gradient(135deg, #009688, #4caf50); /* 그라데이션 배경 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* 강한 그림자 효과 */
  text-align: center;
  color: #ffffff;
  font-family: 'Pretendard', sans-serif; /* 전체 폰트 변경 */
}

/* 질문 블록 */
.question-block {
  margin-bottom: 20px;
  font-family: 'Pretendard', sans-serif;
  color: #ffffff; /* 질문 텍스트 색상 */
  font-size: 1.2em;
}

/* 선택지 항목 스타일 */
.choices {
  list-style-type: none;
  padding: 0;
}

/* 선택지 항목 스타일 */
.choices li {
  margin-bottom: 10px;
  background-color: #333333; /* 어두운 배경색 */
  border: 1px solid #ffffff; /* 흰색 테두리 */
  border-radius: 10px; 
  padding: 15px;
  transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.3s;
  cursor: pointer;
  color: #ffffff; /* 텍스트 색상 흰색으로 설정 */
  display: flex;
  align-items: center;
  gap: 10px; /* 이미지와 텍스트 사이의 간격 */
}

/* 선택된 항목 스타일 */
.choices li.selected {
  background-color: #00796b; /* 선택된 항목 배경색 */
  color: #ffffff; /* 선택된 항목 텍스트 색상 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 선택된 항목 그림자 */
}

/* 마우스 오버 스타일 */
.choices li:hover {
  background-color: #004d40; /* 마우스 오버 시 배경색 */
  color: #ffffff; /* 마우스 오버 시 텍스트 색상 */
  transform: scale(1.05); /* 확대 효과 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 마우스 오버 시 그림자 효과 */
}

/* 선택지 항목 이미지 */
.choices li img {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* 원형 이미지 */
}

/* 진행 바 */
.progress-bar {
  height: 15px; 
  background-color: #004d40; 
  margin-bottom: 20px;
  border-radius: 8px; 
}

/* 타이머 */
.timer {
  font-size: 20px;
  color: #ffffff; /* 타이머 텍스트 색상 */
  margin-bottom: 20px;
}

/* 결과 */
.result {
  text-align: center;
  font-family: 'Pretendard', sans-serif;
  color: #ffffff; 
}

/* 결과 요약 */
.summary {
  margin-top: 20px;
  font-weight: bold;
  font-family: 'Pretendard', sans-serif;
  color: #dcedc8; /* 부드러운 색상 */
}

/* 버튼 */
button {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 1em;
}

button:hover {
  background-color: #004d40;
  transform: scale(1.05); /* 확대 효과 */
}
